@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
*,
*::before,
*::after {
  @apply box-border;
}

html,
body {
  @apply p-0 m-0 w-full h-full;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  /* @apply bg-zinc-100 rounded overflow-hidden object-cover relative basis-1/4; */
  @apply h-[300px] bg-zinc-100 rounded overflow-hidden object-cover shadow-md hover:shadow-lg relative;
}

.batch {
  @apply h-7 w-16 ml-2 mt-2 p-2 bg-slate-200 text-gray-500 font-bold rounded-full uppercase  absolute top-0 flex justify-center align-middle;
}

.btn {
  @apply h-10 p-3 border-2  border-red-400 hover:border-green-700 font-light  text-xs md:text-xl text-nowrap  text-red-600 hover:text-green-700   rounded-full cursor-pointer  flex justify-center items-center  transition ease-in delay-75 hover:bg-green-100;
}
